{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <div class="row">
    <div class="col-12" >
      <table class="table table-hover align-middle">
        <thead>
          <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Version.name</th>
            <th>Version.description</th>

            <th width="420px">Action</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for mailing in object_list %}
          <tr>
            <td>{{mailing.name}}</td>
            <td>{{mailing.version}}</td>
            <td>{{mailing.version.name}}</td>
            <td>{{mailing.version.description}}</td>


            <td>
              <div class="btn-group">
                <a href="{% url 'mailing-update' mailing.id %}" class="btn btn-warning">
                  Редактировать 
                </a>
                <a href="{% url 'mailing-delete' mailing.id %}" class="btn btn-danger">
                  Удалить
                </a>
              </div>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>

  <hr class="mt-0 mb-4">

  <a href="{% url 'mailing-add' %}" class="btn btn-success">Добавить рассылку</a>

{% endblock %}