{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="list-group">
  Рассылка: {{mailing.name}}
  {% for client in client_list %}
    {% if client.is_add %}
      <a href="{% url 'mailing-del-client' mailing.id client.id %}" class="list-group-item list-group-item-action list-group-item-danger"
        aria-current="true">
        Удалить {{ client.name }}, {{ client.email }} 
      </a>
    {% else %}
      <a href="{% url 'mailing-add-client' mailing.id client.id %}" class="list-group-item list-group-item-action list-group-item-success
        aria-current="true">
        Добавить {{ client.name }}, {{ client.email }}
      </a>
    {% endif %}

  {% endfor %}
</div>
{% endblock %}