{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  Рассылка: {{mailing.name}}
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col" width=150>Action</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for client in client_list %}
          <tr>
            <td>{{client.name}}</td>
            <td>{{client.email}}</td>
            <td>

              {% if client.is_add %}
              <a href="{% url 'mailing-del-client' mailing.id client.id %}"
                class="btn btn-danger" aria-current="true">
                Удалить
              </a>
              {% else %}
              <a href="{% url 'mailing-add-client' mailing.id client.id %}" 
                class="btn btn-success" aria-current=" true">
                Добавить
              </a>
              {% endif %}
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}